nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: white;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  