

.container {
  padding-left: 20%;
  padding-right: 20%;
  height: 100vh;
}

.container h1 {
  font-weight: bold;
  padding: 20px;
}

.postList {
  list-style: none;
  padding: 0;
}

.postListli {
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 1px solid #efefef;
}

.buttonContainer {
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropdownContent {
  display: block;
}

li {
  display: flex;
  flex-direction: column;
}

.titleDuration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  margin-top: 5px;
}

.tag {
  margin-right: 7px;
  border: 2px solid #adadad;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  color: #6f6f6f;
}

.duration {
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.button {
  padding-top: 4px;
  border: 3px solid #f48282;
  border-radius: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  margin-right: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 105% */

  text-align: center;
  letter-spacing: -0.408px;

  color: #ed5c5c;
}

.notSelected {
  border: 3px solid #6f6f6f;
  color: #6f6f6f;
}
