nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: white;
}
  
.logo img {
max-height: 50px;
}

.nav-buttons {
display: flex;
align-items: center;
padding-right: 20px;
}

.write-button,
.mypage-button,
.login-button {
margin-left: 15px;
padding: 8px 16px;
background-color: transparent;
border: none;
color: black;
font-family:sans-serif;
font-weight: bold;
cursor: pointer;
}

.write-button:hover,
.mypage-button:hover,
.login-button:hover {
background-color: rgba(255, 255, 255, 0.2);
}


.container {
    padding-left: 20%;
    padding-right: 20%;
    height: 100vh;
}

.container h1 {
    font-weight: bold;
    padding: 20px;
}

.post-list {
    list-style:none;
    padding: 0;
}

.post-list li {
margin-bottom: 10px;
padding:20px;
border-bottom: 1px solid #efefef;
}

.button-container {
    padding-top:50px;
    padding-left: 20px;
    display: flex;
  }
  
    .dropdown {
        position: relative;
    }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  li {
    display: flex;
    flex-direction: column;
  }
  
  .title-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tags {
    margin-top: 5px;
  }

  .tag {
    margin-right: 7px;
    border: 2px solid #adadad;
    border-radius: 20px;
    cursor: pointer;
    padding:4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
    color:#6f6f6f;

  }
  
  .duration {
    margin-right: 10px;
    font-weight: bold;
    font-size:14px;
  }
  
.button {
  padding-top: 4px;
   border: 3px solid #f48282;
   border-radius: 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    margin-right: 10px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 105% */

    text-align: center;
    letter-spacing: -0.408px;

    color: #ED5C5C;
}

.not-selected {
  border: 3px solid #6f6f6f;
  color:#6f6f6f;;
}